@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@300;400;500;700&display=swap');

*[dir="rtl"], html[dir="rtl"] {
    font-family: 'Tajawal', sans-serif;
}
body[dir="rtl"] .oSideBar {
    padding: 10px 10px 5px 10px;
    position: sticky;
}

body[dir="rtl"] .sidenav a span {
    margin-left: unset;
    margin-right: 10px;
}
body[dir="rtl"] .logo a {
    direction: ltr;
}

body[dir="rtl"] header#menu {
    direction: ltr;
}
body[dir="rtl"] .lang span {
    margin-right: 5px;
}