@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@300;400;500;700&display=swap');

*[dir="rtl"], html[dir="rtl"] {
    font-family: 'Tajawal', sans-serif;
}
body[dir="rtl"] .oSideBar {
    padding: 10px 10px 5px 10px;
    position: sticky;
}

body[dir="rtl"] .sidenav a span {
    margin-left: unset;
    margin-right: 10px;
}
body[dir="rtl"] .logo a {
    direction: ltr;
}

body[dir="rtl"] header#menu {
    direction: ltr;
}
body[dir="rtl"] .lang span {
    margin-right: 5px;
}

body[dir="rtl"] .log-card h1 {
    text-align: right;
}
body[dir="rtl"] .lang {
    float: left;
    margin-right: 1rem !important;
}
body[dir="rtl"] .input-icons {
    direction: ltr;
}
body[dir="rtl"] .input-icons .form-control {
    text-align: right;
    padding-right: 20px;
}



/*** XXL ***/
@media (min-width: 1400px) {
    body[dir="rtl"] .offset-xxl-1 {
        margin-right: 8.3333333333%;
        margin-left: unset;
    }
}
/*** END XXL ***/

/*** XL ***/
@media (min-width: 1200px) {
    .offset-xl-1 {
        margin-right: 8.3333333333%;
        margin-left: unset;
    }
}
/*** END XL ***/

/*** LG ***/
@media (min-width: 992px) {
    .offset-lg-1 {
        margin-right: 8.3333333333%;
        margin-left: unset;
    }
}
/*** END LG ***/


@media (min-width: 576px) { 
    body[dir="rtl"] .lang {
        float: left;
    }
}



